#### A Group of Medical Practitioners (Medical Laboratory scientists) decides to move their abode from an African Country to the city of Toronto. They intend to arrive in Toronto and establish various medical diagnostic centers (Medical laboratories) across various Neighborhoods in the city of Toronto. Faced with the difficulty of selecting the best and most favorable neighborhood out of 140 neighborhoods in the city of Toronto, they employed the help of a Data scientist. This notebook contains the code of solving the problem.The Top factors to be considered in choosing the most favorable neighborhoods are:  neighborhood with low amounts of already established medical diagnostic centers/Medical laboratories, neighborhood with a high number of Hospitals around, neighborhood with a high population and neighborhood with a low crime rate.

# Getting the datasets of toronto neighborhoods with their Lat and Long

In [1]:
import pandas as pd

In [2]:

import types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
client_36e28abdab9244e0a1733d951e0e413b = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='Fp1FUoE0OIuqLNGSLDbwBlQpKBfhaWGM_rbB2KaId746',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3-api.us-geo.objectstorage.service.networklayer.com')

body = client_36e28abdab9244e0a1733d951e0e413b.get_object(Bucket='week4assignment-donotdelete-pr-pqw0layktd3fe0',Key='CityofToronto_WFL1.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_1 = pd.read_csv(body)
df_data_1.head()

,OBJECTID,FIELD_1,FIELD_2,FIELD_3,FIELD_4,FIELD_5,FIELD_6,FIELD_7,FIELD_8,FIELD_9,FIELD_10,FIELD_11,FIELD_12,FIELD_13,FIELD_14,FIELD_15,Shape__Area,Shape__Length
0,1,1,25886861,25926662,49885,94,94,Wychwood (94),Wychwood (94),0,0,-79.425515,43.676919,16491505,3.217960e+06,7515.779658,0.000188,0.059468
1,2,2,25886820,25926663,49885,100,100,Yonge-Eglinton (100),Yonge-Eglinton (100),0,0,-79.403590,43.704689,16491521,3.160334e+06,7872.021074,0.000184,0.059056
2,3,3,25886834,25926664,49885,97,97,Yonge-St.Clair (97),Yonge-St.Clair (97),0,0,-79.397871,43.687859,16491537,2.222464e+06,8130.411276,0.000130,0.059344
3,4,4,25886593,25926665,49885,27,27,York University Heights (27),York University Heights (27),0,0,-79.488883,43.765736,16491553,2.541821e+07,25632.335242,0.001481,0.199374
4,5,5,25886688,25926666,49885,31,31,Yorkdale-Glen Park (31),Yorkdale-Glen Park (31),0,0,-79.457108,43.714672,16491569,1.156669e+07,13953.408098,0.000675,0.106018

In [3]:
df=df_data_1[['FIELD_7', 'FIELD_12','FIELD_11']]
df.head()

                        FIELD_7   FIELD_12   FIELD_11
0                 Wychwood (94)  43.676919 -79.425515
1          Yonge-Eglinton (100)  43.704689 -79.403590
2           Yonge-St.Clair (97)  43.687859 -79.397871
3  York University Heights (27)  43.765736 -79.488883
4       Yorkdale-Glen Park (31)  43.714672 -79.457108

In [4]:
df.rename(columns={'FIELD_7':'Neigborhoods'}, inplace=True)
df.rename(columns={'FIELD_12':'Latitude'}, inplace=True)
df.rename(columns={'FIELD_11':'Longitude'}, inplace=True)
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

                   Neigborhoods   Latitude  Longitude
0                 Wychwood (94)  43.676919 -79.425515
1          Yonge-Eglinton (100)  43.704689 -79.403590
2           Yonge-St.Clair (97)  43.687859 -79.397871
3  York University Heights (27)  43.765736 -79.488883
4       Yorkdale-Glen Park (31)  43.714672 -79.457108

## using Four square Api

# Getting the number of Medical lab in respective Neighbourhoods

In [5]:
lat=df['Latitude'].values
lng=df['Longitude'].values

In [6]:
number_of_labs=list()

for (a,b) in zip(lat, lng):
    base='https://api.foursquare.com/v2/venues/search?'
    x=str(a) +','+str(b)
    pam=dict()
    pam['client_id']='04BH1CWCTD42JACMCDGNYRMV0CAE1XTING323JBNZKDAGF4L'
    pam['client_secret']='LTLBJ4PEOAMVSA0DYZQUAMSMI1ROXZYSMTPF2K50ZOXNMMAV'
    pam['ll']=x
    pam['v']='20180605'
    pam['radius']=500
    pam['query']= 'Medical Lab'
    pam['limit']=100

    import urllib
    import json
    query=urllib.parse.urlencode(pam)
    url=base+query
    
    js=urllib.request.urlopen(url).read()
    js=json.loads(js)

    v=js['response']['venues']
    labs=list()
    for i in v:
        x=i['name']
        
        labs.append(x)
    No_of_lab=len(labs)
    number_of_labs.append(No_of_lab)
     
print(number_of_labs)

[1, 7, 12, 2, 3, 0, 1, 1, 0, 0, 4, 0, 8, 0, 1, 0, 2, 0, 7, 0, 1, 0, 8, 2, 0, 0, 5, 0, 0, 0, 0, 8, 0, 1, 1, 0, 8, 0, 1, 7, 0, 3, 2, 0, 1, 5, 0, 0, 0, 0, 3, 1, 1, 4, 2, 0, 3, 2, 1, 6, 29, 0, 3, 0, 2, 0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 0, 3, 1, 8, 0, 0, 50, 0, 0, 5, 0, 0, 0, 1, 3, 4, 0, 0, 1, 4, 0, 0, 1, 50, 0, 0, 0, 6, 3, 1, 1, 0, 1, 0, 1, 5, 0, 0, 0, 0, 0, 2, 0, 2, 1, 2, 2, 1, 1, 0, 0, 0, 1, 0, 1, 0, 5, 1, 1, 1, 0, 34, 1, 0, 5]

In [7]:
df['No_of_Labs']=number_of_labs
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

                   Neigborhoods   Latitude  Longitude  No_of_Labs
0                 Wychwood (94)  43.676919 -79.425515           1
1          Yonge-Eglinton (100)  43.704689 -79.403590           7
2           Yonge-St.Clair (97)  43.687859 -79.397871          12
3  York University Heights (27)  43.765736 -79.488883           2
4       Yorkdale-Glen Park (31)  43.714672 -79.457108           3

# Getting Number of Hospitals in each Neighborhood

In [8]:
number_of_Hospitals=list()

for (a,b) in zip(lat, lng):
    base='https://api.foursquare.com/v2/venues/search?'
    x=str(a) +','+str(b)
    pam=dict()
    pam['client_id']='04BH1CWCTD42JACMCDGNYRMV0CAE1XTING323JBNZKDAGF4L'
    pam['client_secret']='LTLBJ4PEOAMVSA0DYZQUAMSMI1ROXZYSMTPF2K50ZOXNMMAV'
    pam['ll']=x
    pam['v']='20180605'
    pam['radius']=500
    pam['query']= 'Hospital'
    pam['limit']=100

    import urllib
    import json
    query=urllib.parse.urlencode(pam)
    url=base+query
    
    js=urllib.request.urlopen(url).read()
    js=json.loads(js)

    v=js['response']['venues']
    hospital=list()
    for i in v:
        x=i['name']
        
        hospital.append(x)
    No_of_hospitals=len(hospital)
    number_of_Hospitals.append(No_of_hospitals)
     
print(number_of_Hospitals)

[0, 0, 1, 1, 0, 0, 1, 3, 1, 0, 1, 0, 0, 0, 1, 0, 0, 5, 4, 0, 0, 2, 2, 0, 1, 0, 1, 0, 0, 0, 0, 2, 0, 0, 2, 0, 1, 0, 0, 1, 0, 0, 2, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 2, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 50, 0, 0, 1, 0, 0, 0, 0, 2, 1, 0, 0, 0, 0, 0, 0, 0, 14, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 4, 0, 0, 0]

In [9]:
df['No_of_Hospitals']=number_of_Hospitals
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals
0,Wychwood (94),43.676919,-79.425515,1,0
1,Yonge-Eglinton (100),43.704689,-79.403590,7,0
2,Yonge-St.Clair (97),43.687859,-79.397871,12,1
3,York University Heights (27),43.765736,-79.488883,2,1
4,Yorkdale-Glen Park (31),43.714672,-79.457108,3,0

# Adding the crime rate dataset per Neighborhood

In [10]:

body = client_36e28abdab9244e0a1733d951e0e413b.get_object(Bucket='week4assignment-donotdelete-pr-pqw0layktd3fe0',Key='CrimebyNeighbhToronto2019.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,OBJECTID_1,OBJECTID,Neighbourh,Hood_ID,Population,Assault_20,Assault__1,Assault__2,Assault__3,Assault__4,...,TheftOve_3,TheftOve_4,TheftOve_5,TheftOve_6,TheftOve_7,TheftOve_8,Shape__Are,Shape__Len,Shape__Area,Shape__Length
0,1,1,Yonge-St.Clair,97,12528,20,29,39,27,34,...,0,3,6,4.3,1.00,47.9,1.161315e+06,5873.270582,1.161315e+06,5873.270507
1,2,2,York University Heights,27,27593,271,296,361,344,357,...,39,38,28,36.3,-0.26,101.5,1.324666e+07,18504.777326,1.324666e+07,18504.777616
2,3,3,Lansing-Westgate,38,16164,44,80,68,85,75,...,11,6,11,7.0,0.83,68.1,5.346186e+06,11112.109625,5.346186e+06,11112.109419
3,4,4,Yorkdale-Glen Park,31,14804,106,136,174,161,175,...,23,20,29,22.5,0.45,195.9,6.038326e+06,10079.426920,6.038326e+06,10079.426837
4,5,5,Stonegate-Queensway,16,25051,88,71,76,95,87,...,6,7,4,6.0,-0.43,16.0,7.946202e+06,11853.189878,7.946202e+06,11853.189803

In [11]:
df2=df_data_2.drop(['OBJECTID_1','OBJECTID','Hood_ID','Population','Shape__Are','Shape__Len','Shape__Area','Shape__Length'], 
                   axis=1)
df2.head()

,Neighbourh,Assault_20,Assault__1,Assault__2,Assault__3,Assault__4,Assault__5,Assault_AV,Assault_CH,Assault_Ra,...,Robbery_Ra,TheftOver_,TheftOve_1,TheftOve_2,TheftOve_3,TheftOve_4,TheftOve_5,TheftOve_6,TheftOve_7,TheftOve_8
0,Yonge-St.Clair,20,29,39,27,34,37,31.0,0.09,295.3,...,31.9,4,5,8,0,3,6,4.3,1.00,47.9
1,York University Heights,271,296,361,344,357,370,333.2,0.04,1340.9,...,286.3,30,46,37,39,38,28,36.3,-0.26,101.5
2,Lansing-Westgate,44,80,68,85,75,72,70.7,-0.04,445.4,...,68.1,4,5,5,11,6,11,7.0,0.83,68.1
3,Yorkdale-Glen Park,106,136,174,161,175,209,160.2,0.19,1411.8,...,283.7,23,14,26,23,20,29,22.5,0.45,195.9
4,Stonegate-Queensway,88,71,76,95,87,82,83.2,-0.06,327.3,...,87.8,7,8,4,6,7,4,6.0,-0.43,16.0

In [12]:
df2['Total_No_of_Crime']=df2.sum(axis=1)
df2.head()

,Neighbourh,Assault_20,Assault__1,Assault__2,Assault__3,Assault__4,Assault__5,Assault_AV,Assault_CH,Assault_Ra,...,TheftOver_,TheftOve_1,TheftOve_2,TheftOve_3,TheftOve_4,TheftOve_5,TheftOve_6,TheftOve_7,TheftOve_8,Total_No_of_Crime
0,Yonge-St.Clair,20,29,39,27,34,37,31.0,0.09,295.3,...,4,5,8,0,3,6,4.3,1.00,47.9,1128.16
1,York University Heights,271,296,361,344,357,370,333.2,0.04,1340.9,...,30,46,37,39,38,28,36.3,-0.26,101.5,7300.74
2,Lansing-Westgate,44,80,68,85,75,72,70.7,-0.04,445.4,...,4,5,5,11,6,11,7.0,0.83,68.1,2116.38
3,Yorkdale-Glen Park,106,136,174,161,175,209,160.2,0.19,1411.8,...,23,14,26,23,20,29,22.5,0.45,195.9,5217.27
4,Stonegate-Queensway,88,71,76,95,87,82,83.2,-0.06,327.3,...,7,8,4,6,7,4,6.0,-0.43,16.0,2161.83

In [13]:
df3=df2[['Neighbourh','Total_No_of_Crime']]
df3.sort_values('Neighbourh', inplace=True)
df3.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                      Neighbourh  Total_No_of_Crime
79               Agincourt North            2085.44
80  Agincourt South-Malvern West            3311.16
86                     Alderwood            1366.61
56                         Annex            5384.88
84             Banbury-Don Mills            2205.55

In [14]:
df3.reset_index(inplace=True)
df3.head()

   index                    Neighbourh  Total_No_of_Crime
0     79               Agincourt North            2085.44
1     80  Agincourt South-Malvern West            3311.16
2     86                     Alderwood            1366.61
3     56                         Annex            5384.88
4     84             Banbury-Don Mills            2205.55

In [15]:
df3.drop('index',axis=1, inplace=True)
df3.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

                     Neighbourh  Total_No_of_Crime
0               Agincourt North            2085.44
1  Agincourt South-Malvern West            3311.16
2                     Alderwood            1366.61
3                         Annex            5384.88
4             Banbury-Don Mills            2205.55

In [16]:
df.sort_values('Neigborhoods', inplace=True)
df.reset_index(inplace=True)
df.drop('index',axis=1, inplace=True)
df.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals
0,Agincourt North (129),43.805441,-79.266712,0,0
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0
2,Alderwood (20),43.604937,-79.541611,1,0
3,Annex (95),43.671585,-79.404001,8,1
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1

In [17]:
df=pd.concat([df,df3],axis=1)
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Neighbourh,Total_No_of_Crime
0,Agincourt North (129),43.805441,-79.266712,0,0,Agincourt North,2085.44
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,Agincourt South-Malvern West,3311.16
2,Alderwood (20),43.604937,-79.541611,1,0,Alderwood,1366.61
3,Annex (95),43.671585,-79.404001,8,1,Annex,5384.88
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,Banbury-Don Mills,2205.55

In [18]:
df.drop('Neighbourh',axis=1, inplace=True)
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61
3,Annex (95),43.671585,-79.404001,8,1,5384.88
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55

## Adding the population Datasets

In [19]:

body = client_36e28abdab9244e0a1733d951e0e413b.get_object(Bucket='week4assignment-donotdelete-pr-pqw0layktd3fe0',Key='Toronto_Neighbourhoods.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()

,OBJECTID,Neighbourhood,Total_Area,Total_Population,Pop_Males,Pop_Females,Pop0_4years,Pop5_9years,Pop10_14years,Pop15_19years,...,Language_Chinese,Language_Italian,Language_Korean,Language_Persian,Language_Portuguese,Language_Russian,Language_Spanish,Language_Tagalog,Language_Tamil,Language_Urdu
0,1,Yonge-St.Clair,1.2,11655,5235,6420,395,345,235,285,...,250,120,55,120,55,180,230,95,10,10
1,2,York University Heights,13.2,27715,13580,14125,1645,1385,1380,1750,...,1750,2280,265,370,285,430,1475,930,1175,580
2,3,Lansing-Westgate,5.4,14640,6950,7695,845,725,745,795,...,995,165,580,630,90,770,320,460,15,45
3,4,Yorkdale-Glen Park,5.9,14685,6750,7940,640,690,815,835,...,640,2950,50,70,810,85,625,605,120,60
4,5,Stonegate-Queensway,7.9,24690,11935,12745,1395,1235,1265,1295,...,330,755,135,65,555,635,455,260,25,35

In [20]:
dfpop=df_data_3[['Neighbourhood', 'Total_Population']]
dfpop.sort_values('Neighbourhood',inplace=True)
dfpop.reset_index(inplace=True)
dfpop.drop('index', axis=1, inplace=True)
dfpop.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                  Neighbourhood  Total_Population
0               Agincourt North             30280
1  Agincourt South-Malvern West             21990
2                     Alderwood             11900
3                         Annex             29180
4             Banbury-Don Mills             26910

In [21]:
df=pd.concat([df,dfpop],axis=1)
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Neighbourhood,Total_Population
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,Agincourt North,30280
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16,Agincourt South-Malvern West,21990
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61,Alderwood,11900
3,Annex (95),43.671585,-79.404001,8,1,5384.88,Annex,29180
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,Banbury-Don Mills,26910

In [22]:
df.drop('Neighbourhood', axis=1, inplace=True)
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16,21990
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61,11900
3,Annex (95),43.671585,-79.404001,8,1,5384.88,29180
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910

In [23]:
x=df['Total_Population'].sum()
df['Total_Population(%)']=(df['Total_Population']/x)*100
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population,Total_Population(%)
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280,1.158037
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16,21990,0.840992
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61,11900,0.455107
3,Annex (95),43.671585,-79.404001,8,1,5384.88,29180,1.115968
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910,1.029154

In [24]:
x=df['Total_No_of_Crime'].sum()
df['Total_No_of_Crime(%)']=(df['Total_No_of_Crime']/x)*100
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population,Total_Population(%),Total_No_of_Crime(%)
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280,1.158037,0.479976
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16,21990,0.840992,0.762083
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61,11900,0.455107,0.314533
3,Annex (95),43.671585,-79.404001,8,1,5384.88,29180,1.115968,1.239362
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910,1.029154,0.507620

## Machine Learning algorithm

In [25]:
X=df[['No_of_Labs','No_of_Hospitals','Total_Population(%)','Total_No_of_Crime(%)']]

In [26]:
from sklearn.cluster import KMeans

In [27]:
model=KMeans(n_clusters=5)
model.fit(X)
label=model.labels_
df['clusters']=label
df.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population,Total_Population(%),Total_No_of_Crime(%),clusters
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280,1.158037,0.479976,0
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16,21990,0.840992,0.762083,0
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61,11900,0.455107,0.314533,0
3,Annex (95),43.671585,-79.404001,8,1,5384.88,29180,1.115968,1.239362,4
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910,1.029154,0.507620,0

In [35]:
df1=df[df['clusters']==0]
df1.head()

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population,Total_Population(%),Total_No_of_Crime(%),clusters
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280,1.158037,0.479976,0
1,Agincourt South-Malvern West (128),43.788658,-79.265612,3,0,3311.16,21990,0.840992,0.762083,0
2,Alderwood (20),43.604937,-79.541611,1,0,1366.61,11900,0.455107,0.314533,0
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910,1.029154,0.507620,0
5,Bathurst Manor (34),43.764813,-79.456055,0,0,1560.47,15435,0.590300,0.359151,0

## The best Neighborhoods from the kmeans clustering are those of cluster 0

In [36]:
#Cluster 0 are the best neighborhood from kmeans clustering
#from df1 pick the neighborhoods with crime rate below average and population rate above average as final best Neighborhoods
mean_Pop=df1['Total_Population(%)'].mean()
mean_crime=df1['Total_No_of_Crime(%)'].mean()
best_neigh=df1[df1['Total_No_of_Crime(%)']< mean_crime]
final_best_neigh=best_neigh[best_neigh['Total_Population(%)']> mean_Pop]

In [37]:
final_best_neigh ## But some neighborhoods still have more than 0 No_of labs, so we drop them for better results

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population,Total_Population(%),Total_No_of_Crime(%),clusters
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280,1.158037,0.479976,0
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910,1.029154,0.507620,0
30,Don Valley Village (47),43.783294,-79.353644,1,0,2659.43,26735,1.022461,0.612083,0
39,Englemount-Lawrence (32),43.720345,-79.437409,0,1,2327.62,22080,0.844434,0.535715,0
40,Eringate-Centennial-West Deane (11),43.658017,-79.580445,0,0,1583.76,18805,0.719184,0.364512,0
42,Flemingdon Park (44),43.715930,-79.332646,0,0,2235.40,22165,0.847684,0.514490,0
49,High Park North (88),43.657565,-79.466302,1,0,2138.46,21300,0.814603,0.492179,0
50,High Park-Swansea (87),43.645065,-79.467872,0,0,2474.58,21750,0.831813,0.569539,0
63,Kingsview Village-The Westway (6),43.698993,-79.547863,1,0,2258.83,21725,0.830857,0.519883,0
92,Oakwood Village (107),43.688566,-79.439785,1,2,2824.93,21075,0.805998,0.650174,0
104,Rosedale-Moore Park (98),43.682820,-79.379669,0,0,2808.80,20635,0.789171,0.646462,0
112,Steeles (116),43.812959,-79.321207,0,0,1571.55,25010,0.956489,0.361701,0
113,Stonegate-Queensway (16),43.635518,-79.501128,0,0,2161.83,24690,0.944251,0.497558,0
114,Tam O'Shanter-Sullivan (118),43.780130,-79.302919,2,1,2458.02,27390,1.047511,0.565728,0
116,The Beaches (63),43.671050,-79.299601,3,2,2151.66,21135,0.808293,0.495217,0
118,Thorncliffe Park (55),43.707749,-79.349984,1,0,1886.72,19225,0.735246,0.434240,0
125,Westminster-Branson (35),43.778813,-79.452418,0,0,2196.68,25445,0.973126,0.505579,0
131,Willowridge-Martingrove-Richview (7),43.683645,-79.554221,0,0,2449.12,21345,0.816324,0.563679,0

In [38]:
final_best_neigh.drop([30,49,63,92,114,116,118], inplace=True)

/opt/conda/envs/Python36/lib/python3.6/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [39]:
final_best_neigh

,Neigborhoods,Latitude,Longitude,No_of_Labs,No_of_Hospitals,Total_No_of_Crime,Total_Population,Total_Population(%),Total_No_of_Crime(%),clusters
0,Agincourt North (129),43.805441,-79.266712,0,0,2085.44,30280,1.158037,0.479976,0
4,Banbury-Don Mills (42),43.737657,-79.349718,0,1,2205.55,26910,1.029154,0.507620,0
39,Englemount-Lawrence (32),43.720345,-79.437409,0,1,2327.62,22080,0.844434,0.535715,0
40,Eringate-Centennial-West Deane (11),43.658017,-79.580445,0,0,1583.76,18805,0.719184,0.364512,0
42,Flemingdon Park (44),43.715930,-79.332646,0,0,2235.40,22165,0.847684,0.514490,0
50,High Park-Swansea (87),43.645065,-79.467872,0,0,2474.58,21750,0.831813,0.569539,0
104,Rosedale-Moore Park (98),43.682820,-79.379669,0,0,2808.80,20635,0.789171,0.646462,0
112,Steeles (116),43.812959,-79.321207,0,0,1571.55,25010,0.956489,0.361701,0
113,Stonegate-Queensway (16),43.635518,-79.501128,0,0,2161.83,24690,0.944251,0.497558,0
125,Westminster-Branson (35),43.778813,-79.452418,0,0,2196.68,25445,0.973126,0.505579,0
131,Willowridge-Martingrove-Richview (7),43.683645,-79.554221,0,0,2449.12,21345,0.816324,0.563679,0

 ## Visualization

In [40]:
#11 neighborhoods are finally selected as best.
# visualize with a folium map
!pip install folium

Collecting folium
  Downloading https://files.pythonhosted.org/packages/a4/f0/44e69d50519880287cc41e7c8a6acc58daa9a9acf5f6afc52bcc70f69a6d/folium-0.11.0-py2.py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 8.3MB/s ta 0:00:011
Requirement already satisfied: numpy in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (1.15.4)
Requirement already satisfied: jinja2>=2.9 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.10)
Collecting branca>=0.3.0 (from folium)
  Downloading https://files.pythonhosted.org/packages/13/fb/9eacc24ba3216510c6b59a4ea1cd53d87f25ba76237d7f4393abeaf4c94e/branca-0.4.1-py3-none-any.whl
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from folium) (2.21.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from jinja2>=2.9->folium) (1.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2020.6.20)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->folium) (2.8)
Installing collected packages: branca, folium
Successfully installed branca-0.4.1 folium-0.11.0

In [41]:
import folium
import matplotlib.pyplot as plt
toronto=folium.Map(location=[43.6532,-79.3832], zoom_start=13)
neigh=final_best_neigh['Neigborhoods'].values
lat=final_best_neigh['Latitude'].values
lng=final_best_neigh['Longitude'].values

In [42]:
for a,b,c in zip(neigh,lat,lng):
    folium.Marker(location=[b,c],tooltip=a).add_to(toronto)

In [43]:
toronto