<a href="https://colab.research.google.com/github/ayobamiakomolafe/Capstone-Project/blob/master/Time_Series_of_Sunspot_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!wget --no-check-certificate \
    https://raw.githubusercontent.com/jbrownlee/Datasets/master/daily-min-temperatures.csv \
    -O /tmp/daily-min-temperatures.csv

In [ ]:
import pandas as pd
df=pd.read_csv('/tmp/daily-min-temperatures.csv')
df.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [ ]:
df_temp=df['Temp'].values

In [ ]:
Temp_list=[]
window=30
for i in range(len(df_temp)):
    window_list=df_temp[i:window]
    Temp_list.append(window_list)
    window= window+1

In [ ]:
new_temp=[]
for i in Temp_list:
  if len(i)==30:
    new_temp.append(i)

In [ ]:
x=[]
y=[]
for i in new_temp:
  x.append(i[:-1])
  y.append(i[-1])

In [ ]:
import tensorflow as tf
model=tf.keras.models.Sequential([
                                
                                 tf.keras.layers.Dense(32, activation='relu'),
                                 tf.keras.layers.Dense(32, activation='relu'),
                                 tf.keras.layers.Dense(1)
                                 
                                 
])

In [ ]:
model.compile(loss='mae',optimizer=tf.optimizers.Adam(learning_rate=0.1), metrics=['mae'])

In [ ]:
import numpy as np
y=np.array(y)
x=np.array(x)

In [ ]:
#split datasets
x_train=x[:2500]
y_train=y[:2500]
x_test=x[2500:]
y_test=y[2500:]

In [ ]:
model.fit(x_train, y_train, epochs=20)

Epoch 1/20
79/79 [==============================] - 1s 1ms/step - loss: 26.3521 - mae: 26.3521
Epoch 2/20
79/79 [==============================] - 0s 1ms/step - loss: 2.4450 - mae: 2.4450
Epoch 3/20
79/79 [==============================] - 0s 1ms/step - loss: 2.4318 - mae: 2.4318
Epoch 4/20
79/79 [==============================] - 0s 1ms/step - loss: 2.0622 - mae: 2.0622
Epoch 5/20
79/79 [==============================] - 0s 1ms/step - loss: 2.1289 - mae: 2.1289
Epoch 6/20
79/79 [==============================] - 0s 1ms/step - loss: 2.2452 - mae: 2.2452
Epoch 7/20
79/79 [==============================] - 0s 1ms/step - loss: 2.1932 - mae: 2.1932
Epoch 8/20
79/79 [==============================] - 0s 1ms/step - loss: 2.1791 - mae: 2.1791
Epoch 9/20
79/79 [==============================] - 0s 1ms/step - loss: 2.3022 - mae: 2.3022
Epoch 10/20
79/79 [==============================] - 0s 1ms/step - loss: 2.3726 - mae: 2.3726
Epoch 11/20
79/79 [==============================] - 0s 1ms/step - loss: 2.0731 - mae: 2.0731
Epoch 12/20
79/79 [==============================] - 0s 1ms/step - loss: 2.0980 - mae: 2.0980
Epoch 13/20
79/79 [==============================] - 0s 1ms/step - loss: 2.3783 - mae: 2.3783
Epoch 14/20
79/79 [==============================] - 0s 1ms/step - loss: 2.2678 - mae: 2.2678
Epoch 15/20
79/79 [==============================] - 0s 1ms/step - loss: 2.1496 - mae: 2.1496
Epoch 16/20
79/79 [==============================] - 0s 1ms/step - loss: 2.0546 - mae: 2.0546
Epoch 17/20
79/79 [==============================] - 0s 1ms/step - loss: 2.1323 - mae: 2.1323
Epoch 18/20
79/79 [==============================] - 0s 1ms/step - loss: 2.2804 - mae: 2.2804
Epoch 19/20
79/79 [==============================] - 0s 1ms/step - loss: 2.0887 - mae: 2.0887
Epoch 20/20
79/79 [==============================] - 0s 1ms/step - loss: 2.2975 - mae: 2.2975

In [ ]:
model.evaluate(x_test,y_test)

36/36 [==============================] - 0s 943us/step - loss: 1.8672 - mae: 1.8672

[1.8671729564666748, 1.8671729564666748]